<div class="border-2 border-slate-600 h-28 rounded-lg min-h-full">
  <h3 class="flex items-center w-full h-2/6 bg-blue-400 size-5 rounded-t-md px-2 font-bold text-blue-50">{{task?.id}} |
    {{task?.title}}</h3>
  <div class=" flex flex-col justify-between w-full h-4/6 bg-blue-200 rounded-b-md">
    <p class="">{{task?.description}}</p>
    <div>
      <label for="status">Status</label>
      <select class="form-control" id="status" name="status" [ngModel]="(task?.status)" (ngModelChange)="onStatusChange($event)">
        <option value="NOT_STARTED">NOT STARTED</option>
        <option value="IN_PROGRESS">IN PROGRESS</option>
        <option value="FINISHED">FINISHED</option>
      </select>

    </div>
  </div>
</div>
