<div class="h-full">
  <div
    class="flex items-center justify-between w-full text-center font-bold bg-slate-300 mb-1 text-slate-800 p-2"
  >
    <svg
      class="min-sm:hidden"
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 50 50"
    >
      <path d="M 30 10 L 10 25 L 30 40 Z" fill="black" stroke="black" />
    </svg>
    <h2 class="w-fit">
      {{ status }}
    </h2>
    <svg
      class="min-sm:hidden"
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 50 50"
    >
      <path d="M 20 10 L 40 25 L 20 40 Z" fill="black" stroke="black" />
    </svg>
  </div>
  <ul
    class="grid h-5/6 overflow-y-scroll max-sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-4 p-2"
    [ngClass]="{
      'bg-slate-300': status == TaskStatus.FINISHED,
      'bg-slate-50': status != TaskStatus.FINISHED
    }"
  >
    <app-task-item
      class="w-full h-full"
      *ngFor="let task of tasks"
      [taskId]="task.id"
      (editTaskStatus)="onEditTaskStatus($event)"
    ></app-task-item>
  </ul>
</div>
