<div class="col-md-6 w-1/4 h-full flex flex-col justify-center items-center bg-blue-200 rounded-lg">
  <h2 class="text-center font-bold h-1/5">Add Task</h2>
  <div class="card shadow-sm w-1/3 h-4/5 flex flex-col items-center">
    <form class="h-full flex flex-col justify-between items-center" #myform="ngForm" (ngSubmit)="addTask(myform)">
      <div class="form-group h-1/4">
        <input
          type="text"
          class="form-control border-slate-200 focus-visible:outline-none border-b-2 rounded-lg focus-visible:border-blue-200"
          id="title"
          name="title"
          placeholder="Title"
          ngModel
        />
      </div>
      <div class="form-group h-1/4">
        <input
          type="text"
          class="form-control border-slate-200 focus-visible:outline-none border-b-2 rounded-lg focus-visible:border-blue-200"
          id="description"
          name="description"
          placeholder="Description"
          ngModel
        />
      </div>
      <div class="form-group relative inline-flex h-1/5">
        <label for="status">Status</label>
        <select
          class="appearance-none border-slate-200 border-2 border-gray-200 rounded-lg text-gray-700 px-4 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          id="status"
          name="status"
          ngModel
        >
          <option value="NOT_STARTED">NOT STARTED</option>
          <option value="IN_PROGRESS">IN PROGRESS</option>
          <option value="FINISHED">FINISHED</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path d="M10 12l-8-8-2 2 10 10 10-10-2-2-8 8z" />
          </svg>
        </div>
      </div>

      <button type="submit" class="btn btn-primary h-1/4 bg-blue-800 text-slate-100 rounded-lg w-1/3">Submit</button>
    </form>
  </div>
</div>
